<!--https://www.youtube.com/channel/UCYX6N1ut-OTNP_ltGNmKxqA-->
<div class="main-content">
<form [formGroup]="rForm" (ngSubmit)="submitDetails(rForm.value)">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title"/>
    <div class="alert alert-danger"
      *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">
      {{titleErrorMessage}}
    </div>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
    <div class="alert alert-danger"
      *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
      {{descriptionErrorMessage}}
    </div>
  </div>
  <div class="form-group">
    <label>Catagory</label>
    <select class="form-control" formControlName="catagory">
      <option *ngFor="let item of catagories" value="{{item.id}}">{{item.name}}</option>
    </select>
    <div class="alert alert-danger"
      *ngIf="!rForm.controls['catagory'].valid && rForm.controls['catagory'].touched">
      {{catagoryErrorMessage}}
    </div>
  </div>
  <button class="btn btn-primary btn-block" [disabled]="!rForm.valid">Submit</button>
</form>
</div>

<div>
  {{submitValue | json}}
</div>